<!doctype html>
<html lang="en" ng-app="quiltingApp">
    <head>
        <title>Quilting - Quilt Designer</title>
        <% include header.ejs %>
    </head>
    <body ng-controller="QuiltDesignerController">
        <% include nav.ejs %>
        
        <div class="col-sm-offset-5 col-sm-2 text-center">
            <div ng-show="isNew" class="btn-group">
                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Select a size <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="size in quiltSizeOptions">
                        <a href="#">
                            <strong>{{ size.name }}</strong>
                            <span class="label label-default">{{size.width}} {{size.unit}} X {{size.height}} {{size.unit}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>